@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  color: black;
  /*background-color: #F8F8F8;*/
  padding-top: 10px;
}

h1 {
  color: #34343c;
  font-size: 1.75em;
  font-weight: 300;
}

h2 {
  font-weight: 16pt;
  font-family: "Poppins";
  color: #2F3030;
}

h3 {
  color: #8CC63E;
  font-size: 1.25em;
  font-weight: 300;
}

h4 {
  color: #34343c;
  font-size: 1.00em;
  font-weight: 300;
}

i {
  color: #EC9B21;
  font-size: 20pt;
  padding-left: 25px;
  padding-right: 25px;
}

.title-logo-section {
  border-bottom: 1px solid #000000;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: white;
  z-index: 1000;
}

.mainpage_title {
  color: #2F3030;
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
  margin-left: 2rem;
  width: 95%;
  /*width: 75%;*/
  align-self: flex-end;
}

.person_table {
  color: #2F3030;
  font-family: "Poppins";
  font-size: 1pt;
}

.psrc-logo {
  width: 5%;
  /*width: 15%;*/
}

.trip-buttons-panel {
  display: flex;
}

.trip-buttons-panel > div > button {
  margin-right: 1rem;
}

.page-format {
  margin-top: 2rem;
}

.control-label {
  /* inputText labels */
  font-weight: 400;
}

.bottom-spacing {
  margin-bottom: 2rem;
}

.modal-header {
  border-bottom: 1px solid #000000;
  margin-bottom: 2rem;
  font-weight: 600;
}

.section-padding {
  padding: 1.5rem 0;
}

.purpose {
  align-self: flex-end;
}
